# Visualization

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns 
import json 
import urllib

## Tabulation

Download Covid-19 dataset from below url
http://api.covid19india.org/states_daily.json

In [2]:
url = 'http://api.covid19india.org/states_daily.json'

In [3]:
urllib.request.urlretrieve(url, 'data.json')

('data.json', <http.client.HTTPMessage at 0x11fe93d30>)

In [4]:
!ls -lh

total 736
-rw-r--r--  1 kunal  staff    95K Jul  4 15:55 FDS_W11.ipynb
drwxr-xr-x  3 kunal  staff    96B Jul  4 19:38 __pycache__
-rw-r--r--  1 kunal  staff   205K Jul  4 22:23 data.json
-rw-r--r--  1 kunal  staff   149B Jul  4 19:38 mprun_demp.py
-rw-r--r--  1 kunal  staff   6.4K Jul  4 16:24 test.ipynb
-rw-r--r--  1 kunal  staff   538B Jul  4 20:25 test.py

In [5]:
df = pd.read_json('data.json')

In [6]:
df

                                          states_daily
0    {'an': '0', 'ap': '1', 'ar': '0', 'as': '0', '...
1    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
2    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
3    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
4    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
..                                                 ...
331  {'an': '1', 'ap': '325', 'ar': '5', 'as': '275...
332  {'an': '0', 'ap': '5', 'ar': '0', 'as': '2', '...
333  {'an': '7', 'ap': '837', 'ar': '20', 'as': '36...
334  {'an': '3', 'ap': '319', 'ar': '4', 'as': '221...
335  {'an': '0', 'ap': '8', 'ar': '0', 'as': '0', '...

[336 rows x 1 columns]

In [7]:
with open('data.json') as f:
    data = json.load(f)

In [8]:
data = data['states_daily']

In [9]:
covid_data = pd.json_normalize(data)

In [10]:
covid_data

,an,ap,ar,as,br,ch,ct,date,dd,dl,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,0,7,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,0,1,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,0,1,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,0,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,0,1,...,0,Recovered,1,0,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,1,325,5,275,183,22,59,02-Jul-20,0,3015,...,0,Recovered,987,3095,53,19999,0,592,88,509
332,0,5,0,2,5,0,0,02-Jul-20,0,61,...,0,Deceased,8,57,0,378,0,17,1,16
333,7,837,20,365,426,4,52,03-Jul-20,0,2520,...,1,Confirmed,1892,4329,93,22718,-801,972,64,669
334,3,319,4,221,217,4,52,03-Jul-20,0,2617,...,0,Recovered,1126,2357,53,14417,0,376,76,534
335,0,8,0,0,6,0,0,03-Jul-20,0,59,...,0,Deceased,8,64,0,444,0,14,0,18

In [11]:
df = covid_data[covid_data['status'] == 'Confirmed']

In [12]:
df.drop('status', axis=1, inplace=True)

/Users/kunal/.pyenv/versions/3.8.3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [13]:
df.date = pd.to_datetime(df.date)

/Users/kunal/.pyenv/versions/3.8.3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [14]:
df = df.set_index('date')

In [15]:
df

,an,ap,ar,as,br,ch,ct,dd,dl,dn,...,rj,sk,tg,tn,tr,tt,un,up,ut,wb
date,,,,,,,,,,,,,,,,,,,,,
2020-03-14,0,1,0,0,0,0,0,0,7,0,...,3,0,1,1,0,81,0,12,0,0
2020-03-15,0,0,0,0,0,0,0,0,0,0,...,1,0,2,0,0,27,0,1,0,0
2020-03-16,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,15,0,0,1,0
2020-03-17,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,11,0,2,0,1
2020-03-18,0,0,0,0,0,0,0,0,2,0,...,3,0,8,1,0,37,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-29,7,793,5,302,394,3,101,0,2084,15,...,389,0,975,3949,34,18339,-554,681,8,624
2020-06-30,7,704,4,613,370,6,63,0,2199,10,...,348,0,945,3943,8,18256,-281,664,50,652
2020-07-01,3,657,4,548,216,6,82,0,2442,16,...,304,1,1018,3882,8,19429,-89,564,66,611
2020-07-02,9,845,37,479,478,4,73,0,2373,25,...,350,12,1213,4343,39,21947,-83,769,37,649
2020-07-03,7,837,20,365,426,4,52,0,2520,50,...,390,1,1892,4329,93,22718,-801,972,64,669

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 112 entries, 2020-03-14 to 2020-07-03
Data columns (total 39 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   an      112 non-null    object
 1   ap      112 non-null    object
 2   ar      112 non-null    object
 3   as      112 non-null    object
 4   br      112 non-null    object
 5   ch      112 non-null    object
 6   ct      112 non-null    object
 7   dd      112 non-null    object
 8   dl      112 non-null    object
 9   dn      112 non-null    object
 10  ga      112 non-null    object
 11  gj      112 non-null    object
 12  hp      112 non-null    object
 13  hr      112 non-null    object
 14  jh      112 non-null    object
 15  jk      112 non-null    object
 16  ka      112 non-null    object
 17  kl      112 non-null    object
 18  la      112 non-null    object
 19  ld      112 non-null    object
 20  mh      112 non-null    object
 21  ml      112 non-null    object
 22  mn      112 non-null    object
 23  mp      112 non-null    object
 24  mz      112 non-null    object
 25  nl      112 non-null    object
 26  or      112 non-null    object
 27  pb      112 non-null    object
 28  py      112 non-null    object
 29  rj      112 non-null    object
 30  sk      112 non-null    object
 31  tg      112 non-null    object
 32  tn      112 non-null    object
 33  tr      112 non-null    object
 34  tt      112 non-null    object
 35  un      112 non-null    object
 36  up      112 non-null    object
 37  ut      112 non-null    object
 38  wb      112 non-null    object
dtypes: object(39)
memory usage: 35.0+ KB

In [17]:
df['tn']

date
2020-03-14       1
2020-03-15       0
2020-03-16       0
2020-03-17       0
2020-03-18       1
              ...
2020-06-29    3949
2020-06-30    3943
2020-07-01    3882
2020-07-02    4343
2020-07-03    4329
Name: tn, Length: 112, dtype: object

In [18]:
df['tn'] = pd.to_numeric(df['tn'])

In [19]:
df['tn']

date
2020-03-14       1
2020-03-15       0
2020-03-16       0
2020-03-17       0
2020-03-18       1
              ...
2020-06-29    3949
2020-06-30    3943
2020-07-01    3882
2020-07-02    4343
2020-07-03    4329
Name: tn, Length: 112, dtype: int64

In [20]:
df = df.apply(pd.to_numeric)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 112 entries, 2020-03-14 to 2020-07-03
Data columns (total 39 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   an      112 non-null    int64
 1   ap      112 non-null    int64
 2   ar      112 non-null    int64
 3   as      112 non-null    int64
 4   br      112 non-null    int64
 5   ch      112 non-null    int64
 6   ct      112 non-null    int64
 7   dd      112 non-null    int64
 8   dl      112 non-null    int64
 9   dn      112 non-null    int64
 10  ga      112 non-null    int64
 11  gj      112 non-null    int64
 12  hp      112 non-null    int64
 13  hr      112 non-null    int64
 14  jh      112 non-null    int64
 15  jk      112 non-null    int64
 16  ka      112 non-null    int64
 17  kl      112 non-null    int64
 18  la      112 non-null    int64
 19  ld      112 non-null    int64
 20  mh      112 non-null    int64
 21  ml      112 non-null    int64
 22  mn      112 non-null    int64
 23  mp      112 non-null    int64
 24  mz      112 non-null    int64
 25  nl      112 non-null    int64
 26  or      112 non-null    int64
 27  pb      112 non-null    int64
 28  py      112 non-null    int64
 29  rj      112 non-null    int64
 30  sk      112 non-null    int64
 31  tg      112 non-null    int64
 32  tn      112 non-null    int64
 33  tr      112 non-null    int64
 34  tt      112 non-null    int64
 35  un      112 non-null    int64
 36  up      112 non-null    int64
 37  ut      112 non-null    int64
 38  wb      112 non-null    int64
dtypes: int64(39)
memory usage: 35.0 KB

In [22]:
df.tail(7)

,an,ap,ar,as,br,ch,ct,dd,dl,dn,...,rj,sk,tg,tn,tr,tt,un,up,ut,wb
date,,,,,,,,,,,,,,,,,,,,,
2020-06-27,0,796,3,246,302,3,65,0,2948,15,...,284,0,1087,3713,9,20142,-100,606,66,521
2020-06-28,11,813,5,327,244,3,84,0,2889,4,...,327,1,983,3940,12,19610,-184,598,32,572
2020-06-29,7,793,5,302,394,3,101,0,2084,15,...,389,0,975,3949,34,18339,-554,681,8,624
2020-06-30,7,704,4,613,370,6,63,0,2199,10,...,348,0,945,3943,8,18256,-281,664,50,652
2020-07-01,3,657,4,548,216,6,82,0,2442,16,...,304,1,1018,3882,8,19429,-89,564,66,611
2020-07-02,9,845,37,479,478,4,73,0,2373,25,...,350,12,1213,4343,39,21947,-83,769,37,649
2020-07-03,7,837,20,365,426,4,52,0,2520,50,...,390,1,1892,4329,93,22718,-801,972,64,669

In [23]:
sdf = df.tail(7)

In [24]:
sdf

,an,ap,ar,as,br,ch,ct,dd,dl,dn,...,rj,sk,tg,tn,tr,tt,un,up,ut,wb
date,,,,,,,,,,,,,,,,,,,,,
2020-06-27,0,796,3,246,302,3,65,0,2948,15,...,284,0,1087,3713,9,20142,-100,606,66,521
2020-06-28,11,813,5,327,244,3,84,0,2889,4,...,327,1,983,3940,12,19610,-184,598,32,572
2020-06-29,7,793,5,302,394,3,101,0,2084,15,...,389,0,975,3949,34,18339,-554,681,8,624
2020-06-30,7,704,4,613,370,6,63,0,2199,10,...,348,0,945,3943,8,18256,-281,664,50,652
2020-07-01,3,657,4,548,216,6,82,0,2442,16,...,304,1,1018,3882,8,19429,-89,564,66,611
2020-07-02,9,845,37,479,478,4,73,0,2373,25,...,350,12,1213,4343,39,21947,-83,769,37,649
2020-07-03,7,837,20,365,426,4,52,0,2520,50,...,390,1,1892,4329,93,22718,-801,972,64,669

In [25]:
sdf.style